

/* Scss Document */
body {
	background-color:#1d001c; 
	margin:0;
	display:flex;
	flex-direction: column;
	color:cyan;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

	header{
		/*background-image: url("bgnew.jpg");*/
		min-height:588px;
		
		  background: url("../images/bgnew.jpg") no-repeat  ; 
  			-webkit-background-size: cover;
 			 -moz-background-size: cover;
 			 -o-background-size: cover;
			-ms-background-size:cover;
 			 background-size:contain;
		}
	nav{
		padding:50px 0;
		background-color:#1d001c; 
		display: flex;
		flex-direction:row;
		align-items: center;
		justify-content: center;
		font-size: 1.5em;
		ul{
		background-color:#1d001c; 
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content:  space-between;
		width:100%;
		padding:0 100px;
			li{
				color:#00FF0F;
				list-style-type: none;
				a:link{
					color:#00FF0F;
					text-decoration: none;
				}
				a:visited{
					color:#00FF0F;
					text-decoration: none;
				}
				a:hover{
					color:#D20003;
					text-decoration: none;
				}
				a:active{
					color:#00FF0F;
					text-decoration: none;
				}
				
				
			}
			
		}
	}
	resume{
		display:flex;
		flex-direction: column;
		width:1519.2;
		background-image:url("../images/resumebg.jpg") ;
		background-size:auto;
		background-position: center;
		border: 10px solid #1d001c;
		h1{
			align-self: center;
			margin: 100px 0 0 0;
		}
		.pdf{
			align-self: center;
			margin: 50px 0 150px 0;
		}
	}
	about{
		display:flex;
		flex-direction: column;
		
		
		background-image:url("../images/aboutbg.jpg");
		background-size:auto;
		background-position: center;
		border: 10px solid #1d001c;
		h1{
			align-self: center;
			margin: 100px 0 0 0;
		}
		p {
			width: 1000px;
			align-self: center;
			text-align: left;
			font-size: 1.5em;
			margin-bottom: 100px;
		}
	}
	skills{
		display: flex ;
		flex-wrap: nowrap;
		flex-direction:column;
		background-image:url("../images/skillsbg.jpg");
		background-size:auto;
		background-position: center;
		border: 10px solid #1d001c;
		align-items:center;
		justify-content: center;
		align-content: center;
		h1{
			align-self: center;
			margin: 50px 0 0 50px;
		}
			.frontend{
				margin-top: 20px;
				display:flex;
				flex-direction: row;
				flex-wrap:wrap;
				align-items: center;
				justify-content: flex-start;
				li{
					list-style-type: none;
					margin: 0 20px;
					}
				li:first-child{
					margin-right:0px;
					color:cyan;
					font-size: 2em;
				}
				}	
				.version{
				margin-right: 330px;
				display:flex;
				flex-wrap:wrap;
				flex-direction: row;
				align-items: center;
				align-items: center;
				li{
					list-style-type: none;
					margin: 0  20px;
					}
					li:first-child{
					margin-left:0px;
					margin-right:0px;
					color:cyan;
					font-size: 2em; 
				}
				}
					.graphicdesign{
				display:flex;
				flex-direction: row;
				align-items: center;
				margin-right:480px;
				li{
					list-style-type: none;
					margin:  0 20px;
					}
						li:first-child{
					margin-right:0px;
					color:cyan;
					font-size: 2em; 
				}
				}
		
		}
		
	
	projects{
		display:flex;
		flex-direction: column;
		background-image:url("../images/projectsbg.jpg");
		background-size:auto;
		background-position: center;
		border: 10px solid #1d001c;
		align-items: center;
		h1{
			align-self: center;
			margin: 100px 0 100px 0;
		}
		.sites{
			font-size: 1.3em;
			display: flex;
			flex-direction: row;
			margin:50px;
			align-self: center;
				a:link{
					
				}
				a:visited{
					
				}
				a:hover{
					background-color: cyan;
				}
				a:active{
					
				}
			.tomslawn{
				margin: 0 50px;
				
				
				p{
					margin-top: 50px;
					width:600px;
					background-color:#1d001c; 
				}
			}
			.traveltime{
			margin: 0 50px;
				p{
				margin-top: 50px;
				width: 600px;
				background-color:#1d001c; 
				}
			}
		}
	}
	github{
		display:flex;
		flex-direction: column;
		height: 588px;
		width:1519.2;
		background-image:url("../images/githubbg.jpg");
		background-size:auto;
		background-position: center;
		border: 10px solid #1d001c;
		h1{
			align-self:center;
			margin: 100px 0 0 0;
		}
		h3{
			align-self: center;
		}
		a {
			align-self: center;
		}
		figcaption{
			align-self: center;
		}
	}
	design{
		display:flex;
		flex-direction: column;
		
		background-image:url("../images/designbg.jpg");
		background-size:auto;
		background-position: center;
		border: 10px solid #1d001c;
		h1{
			align-self: center;
			margin: 100px 0 50px 0;
		}
	
	}
	contact{
		display:flex;
		flex-direction: column;
		height: 588px;
		width:1519.2;
		background-image:url("../images/contactbg.jpg");
		background-size:auto;
		background-position: center;
		border: 10px solid #1d001c;
		a:link{
					color: cyan;
					text-decoration: none;
				}
				a:visited{
					
				}
				a:hover{
					background-color: #1d001c; 
				}
				a:active{
					
				}
		h1{
			align-self: center;
			margin: 100px 0 0 0;
		}
		.contact {
			margin-top: 100px;
		}
				
		p{
			text-align: center;
			font-size: 1.3em;
		}
	}
	footer{
		display:flex;
		flex-direction: column;
		height: 588px;
		
		background-image: url("../images/footer.jpg");
		background-size:cover;
		border: 10px solid #1d001c;
	}
	
}

@supports (-ms-ime-align: auto) {
  .header {
       min-height:770px;
	   background: url("../images/bgnew.jpg")  no-repeat ; 
  			-webkit-background-size: cover;
 			 -moz-background-size: cover;
 			 -o-background-size: cover;
			-ms-background-size:cover;
 			 background-size: 100%;
	  }
	.frontend{
				
				display:flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				li{
					list-style-type: none;
					margin: 0 50px;
					}
				li:first-child{
					margin-left: 100px;
					margin-right:179px;
					color:cyan;
					font-size: 2em;
				}
				}	
				.version{
				display:flex;
				flex-direction: row;
				align-items: center;
				align-items: center;
				li{
					list-style-type:none;
					margin: 0 50px;
					}
					li:first-child{
					margin-left: 20px;
					margin-right:140px;
					color:cyan;
					font-size: 2em; 
				}
				}
					.graphicdesign{
				display:flex;
				flex-direction: row;
				align-items: center;
				li{
					list-style-type: none;
					margin: 0 50px;
					}
						li:first-child{
					margin-left: 60px;
					margin-right:140px;
					color:cyan;
					font-size: 2em; 
				}
				}
		
		}