/* Scss Document */
@supports (-ms-ime-align: auto) {
  .header {
       min-height:700px;
  }
}
body {
	margin:0;
	display:flex;
	flex-direction: column;

	#header{
		/*background-image: url("bgnew.jpg");*/
		height:592px;
		  background: url("bgnew.jpg") no-repeat center center fixed; 
  			-webkit-background-size: cover;
 			 -moz-background-size: cover;
 			 -o-background-size: cover;
			-ms-background-size:cover;
 			 background-size: cover;
		}
	nav{
		background-color:#1d001c; 
		display: flex;
		flex-direction:row;
		align-items: center;
		justify-content:  center;
		ul{
		background-color:#1d001c; 
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content:  space-between;
		width:100%;
		padding:0 100px;
			li{
				color:#00FF0F;
				list-style-type: none;
				a:link{
					color:#00FF0F;
					text-decoration: none;
				}
				a:visited{
					color:#00FF0F;
					text-decoration: none;
				}
				a:hover{
					color:#D20003;
					text-decoration: none;
				}
				a:active{
					color:#00FF0F;
					text-decoration: none;
				}
				
				
			}
			
		}
	}
	resume{
		height: 588px;
		width:1519.2;
		background-color: #F0F0F0;
		border: 2px solid #1d001c;
	}
	about{
		height: 588px;
		width:1519.2;
		background-color: #ADADAD;
		border: 2px solid #1d001c;
	}
	projects{
		height: 588px;
		width:1519.2;
		background-color: #ADADAD;
		border: 2px solid #1d001c;
	}
	design{
		height: 588px;
		width:1519.2;
		background-color: #ADADAD;
		border: 2px solid #1d001c;
	}
	contact{
		height: 588px;
		width:1519.2;
		background-color: #ADADAD;
		border: 2px solid #1d001c;
	}
	footer{
		height: 588px;
		
		background-image:url("footer.jpg");
		border: 2px solid #1d001c;
	}
	
}
